#container{
    width: 80%;
    margin: 20px auto;
    display: flex;
}
#leftside{
    flex: 7;
    padding: 20px;
}
#right{
    flex: 3;
}


#line {
    display: flex;
    margin-top: 40px;
    margin-left: 25px;
    align-items: center;
    margin-bottom: 50px;
    /* border: 1px solid black; */
}

#lineTop1 {
    width: 230px;
    height: 8px;
    background-color: #dd0285;
    border-radius: 6px;

}

#lineTop2 {
    width: 230px;
    height: 8px;
    background-color: #6e6c6e;
    border-radius: 6px;
    margin-left: -10px;
}

#circle1 {
    width: 33px;
    height: 33px;
    border: 7px solid #dd0285;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    /* top: 28.4%; */
    left: 6.1%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 1600;
}

#circle2 {
    width: 33px;
    height: 33px;
    border: 7px solid #6e6c6e;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    left: 17.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 1600;
}
#topheadings>span:nth-child(1){
   margin: 0px 70px;
    font-size: large;

}
#topheadings>span:nth-child(2){
    color: #6e6c6e;
}

#shippingform>input{
    width: 97%;
    padding: 10px;
}
#shippingform>select{
    width: 100%;
    padding: 12px;
}
h1{
    font-weight: lighter;
    font-size: 20px;
}
#checkbox{
    margin-right: 20px;
}
